<br/>
<div class="table contrast-font">


  <% if user_signed_in? %>



  <table id="output">
    <tr>
      <th>Article name</th>
      <th>Recommendation Score</th>
      <th>Submit Date</th>
    </tr>
    <div id="rec-data">
      <% @list.each do |article,score| %>
      <tr>
        <td> <%= link_to "#{article.name}", article %></td>
        <td><%= score %></td>
        <td><%= "#{article.created_at.day} - #{article.created_at.month} - #{article.created_at.year}" %> </td>
      </tr>
      <% end %>
    </div>
  </table>
  <% end %>
</div>
<br/>
