<br/>
<div class=" contrast-font">





  <table class="table" id="output">
    <tr>
      <th>Article name</th>
      <th>Recommendation Score</th>
      <th>Submit Date</th>
    </tr>
    <div id="rec-data">
        <% @list.each do |article,score| %>
        <tr>
          <% if article %>
            <td> <%= link_to "#{article.name}", article %></td>
            <td><%= score %></td>
            <td><%= "#{article.created_at}" %> </td>
          <% end %>
        </tr>
        <% end %>
    </div>
  </table>
</div>
<br/>
