<div class="center">
	<p>
	What's missing from the web for developers?
	</p>
	<p>
	A compilation of highly refined urls to quickly get the best of what you need.
	</p>
	<h1>
		The goal?	
	</h1>
	<p>	
		Empower users with the resources required to effieciently and effectively learn and contribute to a community.

	</p>

	<h1> 
		This is just like /r/programming?
	</h1>
	<p>
		It is inspired by /r/programming. But 
		/r/programming lacks the ability to effectively 
		give information when requested. We want to 
		eliminate the difficulty of having information 
		being returned just has effectively as putting 
		it in.

	</p>
</div>






