<div class="center">
	<h1>
	What's missing from the web for developers?
	</h1>
	<p>
	A compilation of highly refined urls to quickly get the best of what you need.
	</p>
	<h1>
		The goal?	
	</h1>
	<p>	
		Empower users with the resources required to effieciently and effectively learn and contribute to a developer community.

	</p>
	<h1>Why would I use this?</h1>
	<p> Hypothetical: You are a Java dev, you want to learn Ruby. Do you spend the next 5 hours 
		googling your life away reading random posts and such? Or do you come here, where all the 
		best articles and resources for learning ruby are presented to you</p>

	<h1> 
		This is just like <a href="http://www.reddit.com/r/programming" >/r/Programming</a>?
	</h1>
	<p>
		It is inspired by <a href="http://www.reddit.com/r/programming" >/r/Programming</a>. But 
		/r/programming lacks the ability to effectively 
		give information when requested. We want to 
		eliminate the difficulty of having the best information being presented.

	</p>
</div>






