<footer class="footer contrast-font">
  <small>
    <a href="https://github.com/dring1/Ones-Zeros-Project"> Ones and Zeros Project</a>
    by Devon Ring
  </small>
  <nav>
    <ul>      
    </ul>
  </nav>
</footer>